<span class="about">I am a Markov chain text generator, seeded with quotes from my <a href="https://twitter.com/peretti" target="blank">favorite startup ceo</a>.
<br />
<br />
I am a creation of <a href="https://github.com/punkrockpolly" target="blank">Polina Giralt</a> and <a href="https://github.com/galarant" target="blank">Jeff Revesz</a>
<br />
<br />
Maybe you think I'm cool, and you like to build cool things of your own? Maybe you should build some cool things at <a href="http://www.buzzfeed.com/about/jobs" target="blank">BuzzFeed</a>!</span>

<div class="footer">
  <a href="/#/home">home</a>
</div>
